{% extends 'default/main.container.html.twig' %}

{% block content %}
    <div>Start page</div>
    <div>Please select your action:</div>
    <div>
        <a href="/add_company">Add new company</a>
    </div>
    <div>
        <a href="/add_position">Add new position</a>
    </div>
    <div>
        <a href="/reference">List of vacant positions</a>
    </div>
    <div>
        <a href="/companies">List of companies</a>
    </div>
{% endblock content %}

{% block stylesheets %}{{ parent() }}{% endblock stylesheets %}
